<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            ${DATABASE_URL}
        </property>
        <property name="hibernate.connection.username">
            mdplhslyejqhev
        </property>
        <property name="hibernate.connection.password">
            oenGO5OUaI66kqGiWiZSWowp9Z
        </property>
        <property name="show_sql">
            true
        </property>

        <!-- List of XML mapping files -->
        <!--<mapping resource="ChoiceText.hbm.xml"/>-->

    </session-factory>
</hibernate-configuration>