@(qto: to.QuestionTO, uto: to.UserTO, ctolist: List[to.ChoiceTO])

@main("Test") {
<style type="text/css">
    ab {
        /*font-family: HelveticaNeneCyr-light;
         src: url(http://circus2014.com.ua/projectx/fonts/HelveticaNeueCyr-Light.otf)*/
        font-size: 12pt; /* Размер текста */
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: center;
    }
</style>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">



<form name="input" action="/questions" method="POST" >
        <ab>    <h2> @qto.text </h2>
            <div style="padding-left: 40px; padding-bottom: 10px;">
                @for(choice <- ctolist) {
                    <label><input type="radio" name="answer" value="@{choice.id}" required>  @choice.text  </label>
                    <br/>
                }
            </div>
            <input type="hidden" name="questionId" value="@qto.id">
            <button class="btn btn-block" id="setButton">Check answer</button>
        </ab></form>
    </div>


<div class="col-xs-2"></div>
</div>



    <script type="text/javascript">
    $(document).ready(function () {
        $('#setButton').click(function() {
            checked = $("input[type=radio]:checked").length;

            if(!checked) {
            alert("Please, make your choice!") return false;
        }

        });
    });
    </script>

}
