@(qto: to.QuestionTO, cto: to.ChoiceTO, ctolist: List[to.ChoiceTO], rto: to.RuleTO)

@main("Test") {
    <div class="main">
        <h2> Your answer: <span class=@if(cto.correct){"green"} else {"red"}> @cto.text </span></h2>
        <h2> @qto.text </h2>
        <form name="input" action="/questions" method="GET" >
            <div style="padding-left: 40px; padding-bottom: 10px;">
                @for(choice <- ctolist) {
                    <label> <b><span class=@if(choice.correct){"green"} else {"red"}>  @choice.text</span> </b>
                    </label>
                    <br />
                }
            </div>
            <div>
                @rto.ruleText
            </div>
            <button class="button-xlarge pure-button">Next</button>
        </form>
    </div>



}
