@(qto: to.QuestionTO, cto: to.ChoiceTO, ctolist: List[to.ChoiceTO])

@main("Test") {
    <div class="main">
        <h2> Your answer: <span class=@if(cto.correct){"green"} else {"red"}> @cto.text </span></h2>
        <h2> @qto.text </h2>
        <form name="input" action="/questions" method="GET" >
            <div style="padding-left: 40px; padding-bottom: 10px;">
                @for(choice <- ctolist) {
                    <label> <b><span class=@if(choice.correct){"green"} else {"red"}>  @choice.text</span> </b>
                    </label>
                    <br />
                }
            </div>
            <button class="button-xlarge pure-button">Next</button>
        </form>
    </div>

    <style>
        div {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        margin-left: auto; margin-right: auto;
        max-width:720px
        }
        .main {
        margin: 0 auto;
        margin-left: auto; margin-right: auto;
        line-height: 225%;
        }
        p.sansserif {
        font-family: Arial, Helvetica, sans-serif;
        }
        h1, h2, h3 {
        font-family: Helvetica, Arial, sans-serif;
        margin-bottom: 1px;
        }
        .red {
        color:red;
        }
        .green {
        color:green;
        }
        label {
        cursor: pointer;
        font-size: 150%;
        vertical-align: top;
        }
    </style>
    <style scoped>
        .button-xlarge {
        font-size: 150%;
        width: 360px;
        }
    </style>
}
