@import helper._

@main("About") {
	<div class="container">
		Choice – адаптивное тестирование Ваших знаний английского языка. Адаптивность теста заключается в том, что система использует механизм коллаборативной фильтрации, который подбирает задания для теста таким образом, чтобы проверка проходила более эффективно. Сложность теста растет в зависимости от Ваших ответов. Все вопросы делятся на темы, темы подразбиваются на правила, поэтому легко понять, какие именно области Вам необходимо "подтянуть".
				<div class="row">
			<div class="col-xs-4">
			</div>
			<div class="col-xs-8">
			</div>
		</div>
	</div>

}