@(topicList: List[models.core.Topic], topicForm: Form[models.core.Topic])
@import helper._
@import helper.twitterBootstrap._

<!-- Include the bootstrap stylesheets -->
<link href="http://circus2014.com.ua/projectx/css/bootstrap.css" rel="stylesheet">

@main("Topic form") {
<style type="text/css">
	ab {
		/*font-family: HelveticaNeneCyr-light;
		 src: url(http://circus2014.com.ua/projectx/fonts/HelveticaNeueCyr-Light.otf)*/
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 12pt; /* Размер текста */

	}
</style>
<div class="container">
<ab>
	<div class="row">

    <div class="col-xs-2"></div>

	<div class="col-xs-8">
	@helper.form(action = routes.Topics.save(), 'role ->"form", 'class -> "form-horizontal") {	
		<div class="form-group">
			@helper.inputText(topicForm("topicText"),
										  '_label -> "Topic",
        								  'class -> "form-control",
        								  'placeholder -> "Enter topic"
   		 	)
    	</div>
        
		
		<Button type="submit" class="btn btn-block" style="margin: 10px" >Submit</Button>
	
	}	


	   @topics(topicList)
	<div class="col-xs-2"></div>
	</div>
	</div>
</ab>
</div>

	<script src="http:/code.jquery.com/jquery-1.7.2.min.js"></script>
   	<!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
    <script src="http://circus2014.com.ua/projectx/js/bootstrap.js"></script>
}