
@main("Finish") {

    <style type="text/css">
    ab {
    /*font-family: HelveticaNeneCyr-light;
     src: url(http://circus2014.com.ua/projectx/fonts/HelveticaNeueCyr-Light.otf)*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16pt; /* Размер текста */
    text-align: center;
    }
    </style>
    <ab>
        <div class="row">
            <br><br><br><br><br><br>
            <form name="input" action="/login" method="GET" >
                Congratulations! You have answered all questions from chosen topic!
                <br>
                Choose another one.
                <br><br>
                <button class="btn" id="setButton">Ok</button>
            </form>
        </div>

    </ab>}