@(title: String)(content: Html)

<html>
<head>
    <title>Skills Checker</title>
    <!-- Include the bootstrap stylesheets -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <h3 class="pull-left" style="padding:0 0 0 20px;">@title</h3>

            <div class="nav">
                <ul class="nav nav-tabs pull-right">
                    <li><a href="/questions">Test</a></li>
                    <li><a href="/crud/questions/">Add question</a></li>
                    <li><a href="/crud/rules/">Add rule</a></li>
                    <li><a href="/crud/topics/">Add topic</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="margin-top: 60px">
        @content
    </div>

    <footer>
        <div class="center">
            <a href="#">Skills Checker 2014(c)</a>
        </div>
        </footer>
            <script src="http:/code.jquery.com/jquery-1.7.2.min.js"></script>
            <!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
            <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
</body>
</html>

