@(title: String)(content: Html)

<html>
<head>
    <title>Skills Checker</title>
    <!-- Include the bootstrap stylesheets -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
    <script type="text/javascript" src="http://bootstrap-ru.com/203/assets/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="http://circus2014.com.ua/projectx/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("document").ready(function(){
            $('#modal').modal();
        });
    </script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="http://circus2014.com.ua/projectx/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
   
</head>
<body><div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <a class="navbar-brand" href="/home/"><img src="http://circus2014.com.ua/projectx/logo1.png"></a>

            <div class="nav">
                <ul class="nav nav-tabs pull-right">

                    <li><a href="/home/">HOME</a></li>

                    <li><a href="/crud/questions/">ADD QUESTION</a></li>
                    <li><a href="/crud/rules/">ADD RULE</a></li>
                    <li><a href="/crud/topics/">ADD TOPIC</a></li>
                    <li><a href="/about/">ABOUT</a></li>
                    <li><a href="/login">LOG IN</a></li>


                </ul>
            </div>
        </div>
    </div>

<div class="Jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
        @content
            </div>

            <div class="col-xs-1"></div>
        </div> </div></div>

<div id="myModal" class="modal hide fade">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Заголовок</h3>
    </div>
    <div class="modal-body">
        <p>Текст…</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Закрыть</a>
        <a href="#" class="btn btn-primary">Сохранить</a>
    </div>
</div>




</body>
</html>

